BackEndTest/BackEndTest/Schema/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Transactions">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Transaction">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransactionDate" type="xs:dateTime" minOccurs="1"  />
							<xs:element name="PaymentDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Amount" type="xs:decimal"  minOccurs="1" />
										<xs:element name="CurrencyCode" type="xs:string"  minOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Status"  >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Approved" />
										<xs:enumeration value="Rejected" />
										<xs:enumeration value="Done" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required"  />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>